<div class="modal fade" id="langs-modal" tabindex="-1" aria-labelledby="langs-modal-label" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-white fs-5" id="langs-modal-label">Choose a language <br><p class="fs-6">Select the language you want to use for the website</p></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row g-2" id="langs-btns">
                        <!-- Language buttons will be loaded here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>