<div class="w-full h-full bg-secondary-subtle d-flex flex-column rounded px-2 py-2" style="height: 85vh;">
    <div class="d-flex text-center flex-row align-items-center justify-content-between text-white mb-2">
        <p class="text-center mt-2 ms-2"><i class="bi bi-collection-fill"></i> Your Library</p>
        <i class="bi bi-plus" style="font-size: 1.5rem;"></i>
    </div>
    <section style="height: 60vh;">
        <div id="info-card-1" class="mb-4"></div>
        <div id="info-card-2"></div>
    </section>

    <section class="mx-2">
        <div class="d-flex flex-row gap-2 mb-2">
            <div><a class="link-offset-2 link-secondary link-underline link-underline-opacity-0 fw-lighter" href="#"
                    style="font-size: 0.8rem;"><small>Legal</small></a></div>
            <div><a class="link-offset-2 link-secondary link-underline link-underline-opacity-0 fw-lighter" href="#"
                    style="font-size: 0.8rem;"><small>Safety&Privacy Center</small></a></div>
            <div><a class="link-offset-2 link-secondary link-underline link-underline-opacity-0 fw-lighter" href="#"
                    style="font-size: 0.8rem;"><small>Privacy Policy</small></a></div>
            <div><a class="link-offset-2 link-secondary link-underline link-underline-opacity-0 fw-lighter" href="#"
                    style="font-size: 0.8rem;"><small>Cookie Settings</small></a></div>
        </div>
        <div class="d-flex flex-row gap-2 mb-2">
            <div><a class="link-offset-2 link-secondary link-underline link-underline-opacity-0 fw-lighter" href="#"
                    style="font-size: 0.8rem;"><small>About Ads</small></a></div>
            <div><a class="link-offset-2 link-secondary link-underline link-underline-opacity-0 fw-lighter" href="#"
                    style="font-size: 0.8rem;"><small>Accessibility</small></a></div>
        </div>
        <div class="d-flex flex-row gap-2">
            <div><a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover fw-lighter"
                    href="#" style="font-size: 0.8rem;"><small>Cookies</small></a></div>
        </div>
    </section>

    <button type="button" class="btn btn-dark rounded-pill py-1 text-black border-light text-white ms-2 mt-5"
        data-bs-theme="dark" style="width: fit-content;" data-bs-toggle="modal" data-bs-target="#langs-modal">
        <i class="bi bi-globe"></i> English
    </button>
</div>